## IS 362 Week 7 Assignment

**Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!
Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe.**

** Question 1. Load the ratings by user information that you collected into a pandas dataframe.**

In [1]:
#The code below will import pandas & numpy
import pandas as pd
import numpy as np

In [2]:
#The code below will read the csv file I created
movies = pd.read_csv('https://raw.githubusercontent.com/kchanga/Assignment-7/master/Movies.csv')

In [3]:
#The code below will display the csv
movies

,Name,Avengers: Infinity War,Ant Man 2,Deadpool 2,Black Panther,Thor Ragnorok,Justice League
0,Nelly,NaN,2.0,5.0,5.0,3.0,1
1,Bruce,5.0,NaN,4.0,5.0,4.0,3
2,Zane,3.0,4.0,NaN,2.0,4.0,2
3,Lorraine,4.0,3.0,4.0,NaN,3.0,1
4,Alexa,5.0,1.0,2.0,4.0,NaN,3

**Question 2. Show the average ratings for each user and each movie.**

In [ ]:
#The code below displays the average user ratings
movies = movies.set_index('Name')
review_avg = movies.mean(axis=1).round(decimals=0)
average_rating = movies.mean().round(decimals=0)
review_avg

In [5]:
#The code below displays the average movie ratings
average_rating

Avengers: Infinity War    4.0
Ant Man 2                 2.0
Deadpool 2                4.0
Black Panther             4.0
Thor Ragnorok             4.0
Justice League            2.0
dtype: float64

** 3. Create a new pandas dataframe, with normalized ratings for each user.**

In [7]:
#The code below will normalize the ratings for each user
x = movies
normalization = (x - x.min()) / (x.max() - x.min())
normalization

,Avengers: Infinity War,Ant Man 2,Deadpool 2,Black Panther,Thor Ragnorok,Justice League
Name,,,,,,
Nelly,NaN,0.333333,1.000000,1.000000,0.0,0.0
Bruce,1.0,NaN,0.666667,1.000000,1.0,1.0
Zane,0.0,1.000000,NaN,0.000000,1.0,0.5
Lorraine,0.5,0.666667,0.666667,NaN,0.0,0.0
Alexa,1.0,0.000000,0.000000,0.666667,NaN,1.0

In [ ]:
#The code below will show the average ratings for each user again
avgmovies = normalization.mean(axis=1).round(decimals=5)
avgusers = normalization.mean().round(decimals=5)
avgusers

In [9]:
#The code below will show the average ratings for each movie again
avgmovies

Name
Nelly       0.46667
Bruce       0.93333
Zane        0.50000
Lorraine    0.36667
Alexa       0.53333
dtype: float64

**4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.**

By looking at the data, the averages, the normalized data and its averages we are able to get a more complete look at the data that accounts for anomalies like outliers or duplicates.

** 5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user.**

In [11]:
#The code below will create standardized ratings for each user
standard_movies = (x - x.mean()) / (x.std())
standard_movies

,Avengers: Infinity War,Ant Man 2,Deadpool 2,Black Panther,Thor Ragnorok,Justice League
Name,,,,,,
Nelly,NaN,-0.387298,0.993399,0.707107,-0.866025,-1.0
Bruce,0.783349,NaN,0.198680,0.707107,0.866025,1.0
Zane,-1.305582,1.161895,NaN,-1.414214,0.866025,0.0
Lorraine,-0.261116,0.387298,0.198680,NaN,-0.866025,-1.0
Alexa,0.783349,-1.161895,-1.390759,0.000000,NaN,1.0

In [13]:
#The code below will once again show the average ratings for each user and movie
standardavgmovies = standard_movies.mean(axis=1).round(decimals=5)
standardavgusers = standard_movies.mean().round(decimals=5)
standardavgusers

Avengers: Infinity War    0.0
Ant Man 2                 0.0
Deadpool 2                0.0
Black Panther             0.0
Thor Ragnorok             0.0
Justice League            0.0
dtype: float64

In [14]:
standardavgmovies

Name
Nelly      -0.11056
Bruce       0.71103
Zane       -0.13838
Lorraine   -0.30823
Alexa      -0.15386
dtype: float64